@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Orbitron', sans-serif;
    font-size: 50%;
    background-color: rgb(231, 225, 225);
}
h1{
    margin-top: 5%;
  
    text-align: center;
    color: black;
}
.time{
    margin: auto;
    padding: 25px;
    border: black solid 1px;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(241, 233, 233),rgb(43, 42, 42));
    box-shadow: 4px 4px 7px rgb(241, 240, 240);
    width: 30% ;
    border-radius: 3px;
}
.icono{
    font-size: 20px;
    text-align: center;
    color: hsl(233, 16%, 89%);
    line-height: 1.5;
}