@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 60%;
    background-color: black;
}
h1, .react{
    margin-top: 5%;
    text-align: center;
    color: rgb(14, 189, 212);
    margin-bottom: 5%;
    margin-right: 1%;
   // text-shadow: 1px 1px 2px rgb(241, 240, 240);
   
}

.time{
    margin: auto;
    padding: 25px;
    border: black solid 1px;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(241, 233, 233),rgb(43, 42, 42));
    box-shadow: 4px 4px 7px rgb(241, 240, 240);
    width: 90% ;
    border-radius: 3px;
}
.icono{
    font-size: 20px;
    text-align: center;
    color: hsl(233, 16%, 89%);
    line-height: 1.5;
}
.logo{
    width: 10%;
}
.card{
width:50%;
margin: auto;
margin-top: 10%;
padding: 2%;
background-color: black;
border-radius: 1%;
}