
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&family=Big+Shoulders+Stencil+Text:wght@500;900&family=Orbitron:wght@500&family=Pacifico&display=swap');

.boxnumber{
    border: rgba(55, 60, 61, 0.63) solid 1.5px;
    border-radius: 0.2rem;
    margin-left: 10px;
    width: 10%;
    height: 8%;
    text-align: center;
    background-color: rgb(8, 8, 8);
    box-shadow: 2px 2px 5px #999;
}

.digit{
    color: hsl(233, 16%, 89%);
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin: auto;
}